@import "variables";

@font-face {
  font-family: '@{icomoon-font-family}';
  src:
    url('@{icomoon-font-path}/@{icomoon-font-family}.woff2?b085tk') format('woff2'),
    url('@{icomoon-font-path}/@{icomoon-font-family}.ttf?b085tk') format('truetype'),
    url('@{icomoon-font-path}/@{icomoon-font-family}.woff?b085tk') format('woff'),
    url('@{icomoon-font-path}/@{icomoon-font-family}.svg?b085tk#@{icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="pg-icon-"], [class*=" pg-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '@{icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.pg-icon-coslide {
  &:before {
    content: @pg-icon-coslide;     
    color: #0d3b54;
  }
}
.pg-icon-ridex {
  &:before {
    content: @pg-icon-ridex; 
  }
}
.pg-icon-kitec {
  &:before {
    content: @pg-icon-kitec; 
  }
}
.pg-icon-polo {
  &:before {
    content: @pg-icon-polo; 
  }
}
.pg-icon-diamond {
  &:before {
    content: @pg-icon-diamond; 
  }
}
.pg-icon-heron {
  &:before {
    content: @pg-icon-heron; 
  }
}
.pg-icon-amaze {
  &:before {
    content: @pg-icon-amaze; 
  }
}
.pg-icon-dream {
  &:before {
    content: @pg-icon-dream; 
  }
}
.pg-icon-evolve {
  &:before {
    content: @pg-icon-evolve; 
  }
}
.pg-icon-flash {
  &:before {
    content: @pg-icon-flash; 
  }
}
.pg-icon-floral {
  &:before {
    content: @pg-icon-floral; 
  }
}
.pg-icon-maven {
  &:before {
    content: @pg-icon-maven; 
  }
}
.pg-icon-menuz {
  &:before {
    content: @pg-icon-menuz; 
  }
}
.pg-icon-pastel {
  &:before {
    content: @pg-icon-pastel; 
  }
}
.pg-icon-tread {
  &:before {
    content: @pg-icon-tread; 
  }
}
.pg-icon-xero {
  &:before {
    content: @pg-icon-xero; 
  }
}
.pg-icon-aware {
  &:before {
    content: @pg-icon-aware; 
  }
}
.pg-icon-ocean {
  &:before {
    content: @pg-icon-ocean; 
  }
}
.pg-icon-crop {
  &:before {
    content: @pg-icon-crop; 
  }
}
.pg-icon-alien {
  &:before {
    content: @pg-icon-alien; 
  }
}
.pg-icon-humble {
  &:before {
    content: @pg-icon-humble; 
  }
}
.pg-icon-fixer {
  &:before {
    content: @pg-icon-fixer; 
  }
}
.pg-icon-insta {
  &:before {
    content: @pg-icon-insta; 
  }
}
.pg-icon-trance {
  &:before {
    content: @pg-icon-trance; 
  }
}
.pg-icon-lumen {
  &:before {
    content: @pg-icon-lumen; 
  }
}
.pg-icon-axen {
  &:before {
    content: @pg-icon-axen; 
  }
}
.pg-icon-craze {
  &:before {
    content: @pg-icon-craze; 
  }
}
.pg-icon-doodle {
  &:before {
    content: @pg-icon-doodle; 
  }
}
.pg-icon-elixir {
  &:before {
    content: @pg-icon-elixir; 
  }
}
.pg-icon-epoch {
  &:before {
    content: @pg-icon-epoch; 
  }
}
.pg-icon-fabric {
  &:before {
    content: @pg-icon-fabric; 
  }
}
.pg-icon-fever {
  &:before {
    content: @pg-icon-fever; 
  }
}
.pg-icon-flame {
  &:before {
    content: @pg-icon-flame; 
  }
}
.pg-icon-fluid {
  &:before {
    content: @pg-icon-fluid; 
  }
}
.pg-icon-glam {
  &:before {
    content: @pg-icon-glam; 
  }
}
.pg-icon-glaze {
  &:before {
    content: @pg-icon-glaze; 
  }
}
.pg-icon-koral {
  &:before {
    content: @pg-icon-koral; 
  }
}
.pg-icon-lunar {
  &:before {
    content: @pg-icon-lunar; 
  }
}
.pg-icon-lytical {
  &:before {
    content: @pg-icon-lytical; 
  }
}
.pg-icon-marron {
  &:before {
    content: @pg-icon-marron; 
  }
}
.pg-icon-mastery {
  &:before {
    content: @pg-icon-mastery; 
  }
}
.pg-icon-mosaic {
  &:before {
    content: @pg-icon-mosaic; 
  }
}
.pg-icon-mystic {
  &:before {
    content: @pg-icon-mystic; 
  }
}
.pg-icon-nexus {
  &:before {
    content: @pg-icon-nexus; 
  }
}
.pg-icon-orbit {
  &:before {
    content: @pg-icon-orbit; 
  }
}
.pg-icon-panda {
  &:before {
    content: @pg-icon-panda; 
  }
}
.pg-icon-plex {
  &:before {
    content: @pg-icon-plex; 
  }
}
.pg-icon-plumb {
  &:before {
    content: @pg-icon-plumb; 
  }
}
.pg-icon-punch {
  &:before {
    content: @pg-icon-punch; 
  }
}
.pg-icon-ranch {
  &:before {
    content: @pg-icon-ranch; 
  }
}
.pg-icon-remix {
  &:before {
    content: @pg-icon-remix; 
  }
}
.pg-icon-ruby {
  &:before {
    content: @pg-icon-ruby; 
  }
}
.pg-icon-shark {
  &:before {
    content: @pg-icon-shark; 
  }
}
.pg-icon-sonic {
  &:before {
    content: @pg-icon-sonic; 
  }
}
.pg-icon-spirit {
  &:before {
    content: @pg-icon-spirit; 
  }
}
.pg-icon-tour {
  &:before {
    content: @pg-icon-tour; 
  }
}
.pg-icon-turbo {
  &:before {
    content: @pg-icon-turbo; 
  }
}
.pg-icon-verse {
  &:before {
    content: @pg-icon-verse; 
  }
}
.pg-icon-walden {
  &:before {
    content: @pg-icon-walden; 
  }
}
.pg-icon-wisdom {
  &:before {
    content: @pg-icon-wisdom; 
  }
}
.pg-icon-zilax {
  &:before {
    content: @pg-icon-zilax; 
  }
}
.pg-icon-asset-manager {
  &:before {
    content: @pg-icon-asset-manager; 
  }
}
.pg-icon-play {
  &:before {
    content: @pg-icon-play; 
  }
}
.pg-icon-arrow-left {
  &:before {
    content: @pg-icon-arrow-left; 
  }
}
.pg-icon-arrow-right {
  &:before {
    content: @pg-icon-arrow-right; 
  }
}
.pg-icon-calendar {
  &:before {
    content: @pg-icon-calendar; 
  }
}
.pg-icon-globe {
  &:before {
    content: @pg-icon-globe; 
  }
}
.pg-icon-heart {
  &:before {
    content: @pg-icon-heart; 
  }
}
.pg-icon-link {
  &:before {
    content: @pg-icon-link; 
  }
}
.pg-icon-plus {
  &:before {
    content: @pg-icon-plus; 
  }
}
.pg-icon-search {
  &:before {
    content: @pg-icon-search; 
  }
}
.pg-icon-user {
  &:before {
    content: @pg-icon-user; 
  }
}
.pg-icon-animations {
  &:before {
    content: @pg-icon-animations; 
  }
}
.pg-icon-tutorial {
  &:before {
    content: @pg-icon-tutorial; 
  }
}
.pg-icon-preview {
  &:before {
    content: @pg-icon-preview; 
  }
}
.pg-icon-pixel-gallery-logo {
  &:before {
    content: @pg-icon-pixel-gallery-logo; 
  }
}

