@icomoon-font-family: "pixel-gallery";
@icomoon-font-path: "fonts";

@pg-icon-ridex: "\e937";
@pg-icon-kitec: "\e938";
@pg-icon-polo: "\e939";
@pg-icon-diamond: "\e93a";
@pg-icon-heron: "\e933";
@pg-icon-amaze: "\e925";
@pg-icon-dream: "\e926";
@pg-icon-evolve: "\e927";
@pg-icon-flash: "\e928";
@pg-icon-floral: "\e929";
@pg-icon-maven: "\e92a";
@pg-icon-menuz: "\e92b";
@pg-icon-pastel: "\e92c";
@pg-icon-tread: "\e92d";
@pg-icon-xero: "\e92e";
@pg-icon-aware: "\e93b";
@pg-icon-ocean: "\e93c";
@pg-icon-crop: "\e93d";
@pg-icon-alien: "\e93e";
@pg-icon-humble: "\e934";
@pg-icon-fixer: "\e92f";
@pg-icon-insta: "\e930";
@pg-icon-trance: "\e931";
@pg-icon-lumen: "\e932";
@pg-icon-axen: "\e900";
@pg-icon-craze: "\e901";
@pg-icon-doodle: "\e902";
@pg-icon-elixir: "\e903";
@pg-icon-epoch: "\e904";
@pg-icon-fabric: "\e905";
@pg-icon-fever: "\e906";
@pg-icon-flame: "\e907";
@pg-icon-fluid: "\e908";
@pg-icon-glam: "\e909";
@pg-icon-glaze: "\e90a";
@pg-icon-koral: "\e90b";
@pg-icon-lunar: "\e90c";
@pg-icon-lytical: "\e90d";
@pg-icon-marron: "\e90e";
@pg-icon-mastery: "\e90f";
@pg-icon-mosaic: "\e910";
@pg-icon-mystic: "\e911";
@pg-icon-nexus: "\e912";
@pg-icon-orbit: "\e913";
@pg-icon-panda: "\e914";
@pg-icon-plex: "\e915";
@pg-icon-plumb: "\e916";
@pg-icon-punch: "\e917";
@pg-icon-ranch: "\e918";
@pg-icon-remix: "\e919";
@pg-icon-ruby: "\e91a";
@pg-icon-shark: "\e91b";
@pg-icon-sonic: "\e91c";
@pg-icon-spirit: "\e91d";
@pg-icon-tour: "\e91e";
@pg-icon-turbo: "\e91f";
@pg-icon-verse: "\e920";
@pg-icon-walden: "\e921";
@pg-icon-wisdom: "\e922";
@pg-icon-zilax: "\e923";
@pg-icon-animations: "\e93f";
@pg-icon-tutorial: "\e935";
@pg-icon-preview: "\e936";
@pg-icon-Pixel-Gallery-Logo-for-font-logo: "\e924";

